@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@400;600;700;800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.public-button {
  border-radius: 48px;
  background-color: #ff42a5;
  border: 0px;
  padding: 21px 40px;
  color: #fff;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.public-description-style {
  color: #534c64;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
/* --------------nav section------------------ */
nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo img {
  width: 86.041px;
  height: 40px;
}

.website-name {
  font-size: 45px;
  font-weight: 700;
  margin-left: 20px;
}

span {
  color: #ff42a5;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu a {
  text-decoration: none;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}
.menu-items {
  margin-left: 50px;
}
.menu-button {
  padding: 20px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
.subscribe {
  margin-left: 10px;
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.fa-tiktok {
  border-top: 2px red;
}

/* main menu section */
.main-menu-first-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 700px;
  background-color: #fff;
}

.goat-container {
  background-image: url(images/Group\ 14.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  background-position: center;
  fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}
.goat-items {
  margin-left: 20%;
  margin-top: 20%;
}

.goat-title1 {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.goat-title2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2, #8758f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-3 {
  background: #4ec5f7;
}

.h6-1 {
  margin-top: 24px;
  margin-bottom: 0px;
}
.h6-2 {
  margin-top: 17px;
  margin-bottom: 0px;
}
.h6-3 {
  margin-top: 17px;
  margin-bottom: 40px;
}
.image-container {
  width: 50%;
  fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}
.first-section-iamge {
  width: 90%;
  background-position: center;
  height: 100%;
  
}
/* ---------------Section-2 style--------------- */

.main-menu-second-container {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.we-are-container {
  width: 50%;
  margin-right: 10%;
  text-align: right;
  margin-top: 50px;
}
.custom-title-design {
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
}
